html
    head
        style
            include asset/css/materialize.min.css
            include asset/css/main.css
        title= title
    body
        include ./header.pug

        div.container
            div.col.s12
                h4 My Portfolio
            div.col.full.s12.grey.lighten-5
                table.striped.responsive-table
                    thead
                        tr
                            th Name
                            th Symbol
                            th Current Price (USD)
                            th Amount
                            th Total Worth (USD)
                            th Actions
                    tbody#portfolioDiv

        script(src='asset/js/libs/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
        script(src='/asset/js/portfolio.js')